## Partner Business Modeling

## Scenario 1

Scenario 1: It is going to be a huge Saturday and there will need to be many more cars on the road than last week. 
In order to get drivers to go online, we're assessing the following two bonus options in terms of cost:

- Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame;
- Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.


Using the dataset provided and given Scenario 1, provide answers to the questions below:

- How much would the total bonus payout be with Option 1?
- How much would the total bonus payout be with Option 2?
- How many drivers would qualify for a bonus under Option 1 but not under Option 2?
- What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

In [1]:
import pandas as pd

df = pd.read_csv("dataset_2.csv")
df.head()

      Name  Trips Completed Accept Rate  Supply Hours  Rating
0    Abdul                1        100%             3     4.8
1  Abraham               12         83%             5     4.7
2  Adelina                1        100%             2     4.7
3   Akilah                1        100%             2     4.9
4     Alec               21         76%            11     5.0

In [6]:
df['Accept Rate'] = df['Accept Rate'].str.rstrip('%').astype(float) / 100

In [7]:
df.describe()

       Trips Completed  Accept Rate  Supply Hours      Rating
count       119.000000   119.000000    119.000000  119.000000
mean         11.941176     0.850924      7.084034    4.698571
std           5.857480     0.188338      2.794000    0.406876
min           1.000000     0.190000      1.000000    1.600000
25%           8.000000     0.770000      5.000000    4.600000
50%          12.000000     0.910000      7.000000    4.800000
75%          15.000000     1.000000      9.000000    4.900000
max          31.000000     1.000000     11.000000    5.000000

In [4]:
df['Name'].is_unique

True

How much would the total bonus payout be with Option 1?

Note that 

Option 1: $50 for each driver that is online at least 8 hours, accepts 90% of requests, completes 10 trips, and has a rating of 4.7 or better during the time frame;

In [48]:
df_opt1 = df[(df['Rating'] >= 4.7) & (df['Accept Rate'] >= 0.9) & (df['Trips Completed'] >= 10) & (df['Supply Hours'] >= 8)].copy()
qualified_drivers_opt1 = len(df_opt1)
tot_opt1_bonus = 50 * qualified_drivers_opt1
print(f'The total bonus payout of Option 1 : ${tot_opt1_bonus}')

The total bonus payout of Option 1 : $1050

How much would the total bonus payout be with Option 2?

Note that 

Option 2: $4/trip for all drivers who complete 12 trips, and have a 4.7 or better rating.

In [49]:
df_opt2 = df[(df['Rating'] >= 4.7) & (df['Trips Completed'] >= 12)].copy()
df_opt2['bonus'] = df_opt2['Trips Completed'] * 4
tot_opt2_bonus = df_opt2['bonus'].sum()
print(f'The total bonus payout of Option 2 : ${tot_opt2_bonus}')

The total bonus payout of Option 2 : $2976

How many drivers would qualify for a bonus under Option 1 but not under Option 2?

In [55]:
only_opt1 = df_opt1[~df_opt1['Name'].isin(df_opt2['Name'])]
num_only_opt1 = len(only_opt1)
print(f'Drivers qulified for a bonus under Opt 1 but not Opt 2 : {num_only_opt1}')

Drivers qulified for a bonus under Opt 1 but not Opt 2 : 2

What percentages of drivers online completed less than 10 trips, had an acceptance rate of less than 90%, and had a rating of 4.7 or higher?

In [63]:
tot_driver = len(df)
df_p4 = df[(df['Trips Completed'] < 10) & (df['Accept Rate'] < 0.9) & (df['Rating'] >= 4.7)]
percent_interest = len(df_p4) / tot_driver * 100
print(f'Percent of interest : {percent_interest : .2f}%')

Percent of interest :  10.92%

## Scenario 1 End

## Scenario 2

Scenario 2: A taxi driver currently generates $200 per day in fares (before expenses), works six days a week, takes three weeks off, and has the following expenses:

- Gas - $200 per week
- Insurance - $400 per month
- Vehicle rent (by the week) - $500

The driver doesn't pay gas and rent expenses on off weeks.

Now, let's assume that the same driver would buy a Town Car and partner with Uber. If he does, his gas expenses would go up by 5%, his insurance expense would decrease by 20%, and he would no longer be renting a vehicle. However, he would need to buy a car. The driver would still take three weeks off per year.

Given Scenario 2, provide answers to the questions below:

- How much money (after expenses) does the taxi driver make per year without partnering with Uber?
- You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?

In [2]:
weeks_yr = 52
earning_day = 200
workday = 6
earning_week = earning_day * workday
week_off = 3

# without uber partnership
gas_week = 200 # not on off-week
insur_month = 400
veh_rent_week = 500 # not on off-week

How much money (after expenses) does the taxi driver make per year without partnering with Uber?

In [12]:
tot_earning = earning_week * (weeks_yr - week_off)
gas_rent_cost = (gas_week + veh_rent_week) * (weeks_yr - week_off)
# week_off_refund = (gas_week + veh_rent_week)
cost_tot = gas_rent_cost + insur_month * 12

earning_year = tot_earning - cost_tot
print(f'money (after expenses) per year without partnering with Uber : ${earning_year}')

money (after expenses) per year without partnering with Uber : $19700
profit margin without partnering with Uber : 33.5 %

#### 6. You are convincing the same driver above to buy a Town Car and partner with Uber. Assuming the new car is 40,000 USD, how much would the driver's gross fares need to increase per week to fully pay for the car in year 1 and maintain the same yearly profit margin as before?

In [21]:
# with uber partnership
gas_week_ub = gas_week * 1.05
insur_month_ub = insur_month * 0.8
car_purchase = 40000

gas_tot_ub = gas_week_ub * (weeks_yr - week_off)
insur_tot_ub = insur_month_ub * 12
cost_tot_ub = gas_tot_ub + insur_tot_ub + car_purchase

new_fare_week = (cost_tot_ub + earning_year) / (weeks_yr - week_off)
increased_per_week = round(new_fare_week - earning_week,2)
print(f"increase in driver's gross fare per week partnering with Uber : ${increased_per_week}")

increase in driver's gross fare per week partnering with Uber : $306.73