In [2]:
import pandas as pd
from IPython.display import display, Markdown

# Loading data
calendar_df = pd.read_csv("calendar_data.csv")
client_df = pd.read_csv("client_data.csv")
deposit_df = pd.read_csv("deposit_data.csv")

# Sampling data
calendar_sample = calendar_df.sample(n=5, random_state=42)
client_sample = client_df.sample(n=5, random_state=42)
deposit_sample = deposit_df.sample(n=5, random_state=42)

# Displaying samples
display(Markdown("### Calendar Data Sample"))
display(calendar_sample)

display(Markdown("### Client Data Sample"))
display(client_sample)

display(Markdown("### Deposit Data Sample"))
display(deposit_sample)

### Calendar Data Sample

    gregorian_date month_name
84      2019-08-24    Month 3
86      2019-08-26    Month 3
97      2019-09-06    Month 4
115     2019-09-24    Month 4
29      2019-06-30    Month 1

### Client Data Sample

,client_id,client_geographical_region,client_residence_status,client_age
6065,686872246977897,West,Own,35
28070,470518677565299,South,Rent,56
6936,883739117234218,South,Own,36
23158,822713875250308,South,Own,52
25506,442404955135328,South,Rent,53

### Deposit Data Sample

,client_id,deposit_type,deposit_amount,deposit_cadence,deposit_date
229803,903285839400111,Scheduled Deposit,458.0,Monthly,2019-08-16
92181,19473282206850,Scheduled Deposit,334.0,Monthly,2019-10-08
284306,240342552445691,Actual Deposit,500.0,Biweekly,2019-10-14
117592,503016878166122,Scheduled Deposit,30.0,Biweekly,2019-07-03
453913,774929593989542,Scheduled Deposit,476.0,Monthly,2019-09-30